<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mask.mask.label.dubbo.service.label.dao.LabelMapper">
  <resultMap id="BaseResultMap" type="cn.mask.mask.label.dubbo.service.label.pojo.po.LabelPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label_category_id" jdbcType="INTEGER" property="labelCategoryId" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="open" jdbcType="BIT" property="open" />
  </resultMap>
  <sql id="Base_Column_List">
    id, label_category_id, label_name, owner_id, create_time, open_time, open
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.mask.mask.label.dubbo.service.label.pojo.po.LabelPO">
    insert into label (id, label_category_id, label_name, 
      owner_id, create_time, open_time, 
      open)
    values (#{id,jdbcType=INTEGER}, #{labelCategoryId,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{openTime,jdbcType=TIMESTAMP}, 
      #{open,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.mask.mask.label.dubbo.service.label.pojo.po.LabelPO">
    insert into label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="labelCategoryId != null">
        label_category_id,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
      <if test="open != null">
        open,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="labelCategoryId != null">
        #{labelCategoryId,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="open != null">
        #{open,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.mask.mask.label.dubbo.service.label.pojo.po.LabelPO">
    update label
    <set>
      <if test="labelCategoryId != null">
        label_category_id = #{labelCategoryId,jdbcType=INTEGER},
      </if>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="open != null">
        open = #{open,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.mask.mask.label.dubbo.service.label.pojo.po.LabelPO">
    update label
    set label_category_id = #{labelCategoryId,jdbcType=INTEGER},
      label_name = #{labelName,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      open = #{open,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>